<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<meta charset="utf-8">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>-->

<script src="my-global.js"></script>
<script src="my-bdpost.js"></script>
<script src="my-changepost.js"></script>

<dom-module id="my-changepost">
  <template>

    <style>
      :host {
        display: block;
      }
      .navbar{margin-bottom:0;}
      .media-body{padding: 25px 75px}
      .pull-left{padding: 25px 25px}
      .titulo {
          display: block;
          font-size:24px;
          margin-top: 1.33em;
          margin-bottom: 1.33em;
          margin-left: 1em;
          margin-right: 0;
          color: black;

          }
      .blog-location {

          background: #337ab7;
          top: 35px;
          right: 0px;
          color: #fff;unction
          border-radius: 0 0 25px 0;
          padding: 5px 15px;
          font-weight: 700;
          font-size:18px;
      }

    </style>

    <!-- Barra navegación -->

    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="home" onclick="initList()"> Home</a></li>
           <li><a href="newpost"> Publicar</a></li>
           <li><a href="ultpost" onclick="initUltList()"> Ver publicaciones</a></li>
           <li></li>
           <li><a href="public" onclick="salir()"><span class="glyphicon glyphicon-log-out"></span></a></li>
           <li><a><span class="glyphicon glyphicon-user"></span>{{name}}</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

<!-- Detalle del post -->
    <div class="container" id="contenedor" style="display:none">
      <div class="well">

    <!-- Tratamiento de salida del post -->

          <form action="/home">
            <button type="summit" class="close">&times;</button>
          </form>

          <div class="span12">
            <output class="blog-location blog-location-right" name="tituloPagina"></output>
          </div>
    <!--      <h3> <output class="titulo" name="tituloPagina"></output></h3>
    <!-- Tratamiento de la captura de la imagen -->

          <div class="media">
            <a class="pull-left">
                <img id="imagen" class="media-object" src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103594__340.png" style="width:250px;height:250px;" >
            <!--    <img class="media-object" src="http://placekitten.com/150/150" style="width:250px"> -->

            </a>

            <div class="media-body">

            <form action="/home" onsubmit="return tratarPost()">

    <!-- Captura del lugar -->
                  <div class="form-group">
                    <label>Localidad</label>
                    <div class="input-group">
                      <input autofocus required type="texto" name="city" id="city" class="form-control" placeholder="Ciudad" size="50"  tabindex="1">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">function
                      <input autofocus required type="texto" name="country" id="country" class="form-control" placeholder="Pais" size="50" tabindex="2">
                    </div>
                  </div>


  <!-- Captura de la descripción -->
                  <div class="form-group">
                      <label for="titulo">Titulo</label>
                      <div class="input-group">
                      <textarea autofocus required type="texto" name="titulo" id="titulo" class="form-control" placeholder="Breve descripción" rows="2" cols="100" tabindex="3"></textarea>
                    </div>
                  </div>

    <!-- Captura de la publicación -->
                  <div class="form-group">
                      <label for="Descripción">Tus comentarios</label>
                      <div class="input-group">
                      <textarea autofocus required type="texto" name="post" id="post" class="form-control"  rows="6" cols="100" tabindex="4"></textarea>
                    </div>
                  </div>

                <input type="submit" name="aceptar" class="btn btn-info" tabindex="5"></input>

            </form>
         </div>
       </div>
     </div>
   </div>
  </template>
</dom-module>

  <script>
    Polymer({
      is: 'my-changepost',
      properties: {
      },

      listeners: {
      },


      ready: function () {

        this.name = " " + sessionStorage.getItem("sessionName");

        var opcion = sessionStorage.getItem("sessionOpcionPost");

        if (opcion == "update") {
      //opción modificar
          document.getElementsByName("tituloPagina")[0].value = "Modificar publicación";
          document.getElementsByName("aceptar")[0].value = "Confirmar";
        }
        else {
      //opción borrar
          document.getElementsByName("tituloPagina")[0].value = "Eliminar publicación";
          document.getElementsByName("aceptar")[0].value = "Confirmar";

        }

         var respuesta = obtenerPost();

        document.getElementsByName("city")[0].value = respuesta.location.city;
        document.getElementsByName("country")[0].value = respuesta.location.country;
        document.getElementsByName("titulo")[0].value = respuesta.titulo;
        document.getElementsByName("post")[0].value = respuesta.post;
        this.$.imagen.src = respuesta.imagen;

        //Deshabilitar los elementos para la opcion de borrado
        if (opcion == "delete") {
            document.getElementsByName("city")[0].disabled = true;
            document.getElementsByName("country")[0].disabled = true;
            document.getElementsByName("titulo")[0].disabled = true;
            document.getElementsByName("post")[0].disabled = true;
          }
          this.$.contenedor.style.display = "block";
      }

    })
  </script>

</dom-module>
