<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--<script src="https://ajax.goglyphiconogleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="my-registro.js"></script>
<script src="my-global.js"></script>
<script src="my-bdpost.js"></script>

<dom-module id="my-registro">
  <template>
    <style include="shared-styles">
    <style>
    body{

      /* Safari 5.1+, Chrome 10+ */
      background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

      /* Firefox 3.6+ */
      background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

      /* IE 10 */
      background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
      height: 600px;
      }

      .centered-form{
        margin-top: 20px;
      }

      .centered-form .panel{
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        padding:60px;
      }

      label.label-floatlabel {
        font-weight: bold;
        color: #46b8da;
        font-size: 11px;
      }

      .navbar{margin-bottom:0;}
      section{width:100%; float:left;}
      .banner-section{background-image:url("https://cdn.pixabay.com/photo/2017/08/26/16/11/nature-2683474__340.jpg"); background-size:cover; height: 700px; left: 0; position: absolute; top: 0; background-position:0;}
      .cerrar{margin.top:10px;}

    </style>

    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="registro"><span class="glyphicon glyphicon-user"> Sign up</a></li>
           <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <section class="banner-section"></section>


    <div class="container">
      <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

            <form action="/public">
              <button type="summit" class="close">&times;</button>
            </form>

            <div class="panel panel-default">

                <div class="panel-heading">
<!--                    <span class="text-muted pull-right today" title="Today"></span> -->
                    <a class="btn btn-lg">
                      <span class="glyphicon pull-right glyphicon-user"></span>
                    </a>
                    <span class="text-primary">  Registro</span>
                  </div><!--.panel-heading-->


                <div class="panel-body">

                    <form action="/home" onsubmit="return incluirUsers()">

                          <div class="form-group">
                            <div class="input-group">
                              <input autofocus required type="texto" name="user" id="user" class="form-control" placeholder="Usuario" tabindex="1">
                            </div>
                          </div>

                          <div class="form-group">
                              <div class="input-group">
                              <input required type="email" name="email" id="email" class="form-control" placeholder="e-mail" tabindex="2">
                            </div>
                          </div>

                          <div class="form-group">
                              <div class="input-group">
                              <input required type="texto" name="name" id="name" class="form-control" placeholder="Nombre" tabindex="3">
                            </div>
                          </div>

                          <div class="form-group">
                              <div class="input-group">
                              <input required type="texto" name="surname" id="surname" class="form-control" placeholder="Apellidos" tabindex="4">
                            </div>
                          </div>

                          <div class="form-group">
                              <div class="input-group">
                              <input required type="date" name="birth" id="birth" class="form-control" placeholder="F. nacimiento (dd/mm/aaaa)" tabindex="5">
                            </div>
                          </div>

                          <div class="form-group">
                              <div class="input-group">
                              <input required type="texto" name="country" id="country" class="form-control" placeholder="Pais de nacimiento" tabindex="6">
                            </div>
                          </div>
                          <h3>
                          </h3>
                          <div class="form-group">
                            <div class="input-group">
                              <input required type="password" name= "password" id="password" class="form-control" placeholder="Password" tabindex="7">
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="input-group">
                              <input required type="password" name="pswconfirm" id ="pswconfirm" class="form-control" placeholder="Confirma tu password" tabindex="8">
                            </div>
                          </div>

                        <input type="submit" value="Registrar" class="btn btn-info btn-block" ></input>
                    </form>
                </div>
              </div>
         </div>
       </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'my-registro',
      properties: {
              },
      listeners: {
              }

      })

  </script>
</dom-module>
