<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="my-icons.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

<script src="my-global.js"></script>
<script src="my-map.js"></script>
<script src="my-bdpost.js"></script>
<script src="my-ultpost.js"></script>


<dom-module id="my-ultpost">
  <template>
    <style>
      :host {
        display: block;
      }
      .navbar{margin-bottom:0;}

      .location {
          font-style: italic;
          display: block;
          font-size:20px;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: 1em;
          margin-right: 0;
          color: black;
          }
      .texto {
        font-size:16px;
      }
      .blog-location {

          background: #337ab7;
          top: 35px;
          right: 0px;
          color: #fff;
          border-radius: 0 0 25px 0;
          padding: 5px 15px;
          font-weight: 700;
      }
      .blog-titulo {

          background: #337ab7;
          top: 35px;
          right: 0px;
          color: #fff;
          border-radius: 0 0 25px 0;
          padding: 5px 15px;
          font-weight: 700;
          font-size: 18px;
      }


    </style>

    <!-- Barra navegación -->
    <nav class="navbar navbar-inverse  navbar-static-top">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">De aquí para allá</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a href="home" onclick="initList()"> Home</a></li>
           <li><a href="newpost"> Publicar</a></li>
           <li><a href="ultpost" onclick="initUltList()"> Ver publicaciones</a></li>
           <li></li>
           <li><a href="public" onclick="salir()"><span class="glyphicon glyphicon-log-out"></span></a></li>
           <li><a><span class="glyphicon glyphicon-user"></span>{{name}}</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <div class="span12">
     <output class="blog-titulo blog-titulo-right">Publicaciones recientes</output>
   </div>



<!-------------------------------------------------------------------------------------------------------------->
<!-- Detalle del primer post------------------1------------------------------------------------------------------>

     <div class="container" id="contpost1" style="display:none">
       <div class="well">
           <div class="span12">
             <output class="blog-location blog-location-right" id="location1"></output>
          </div>

          <div class="media">
           	<a class="pull-left">
               <img id="imagen1" class="media-object" width="150" height="150" src="/images/fotodetalle.jpg">
            </a>

       		  <div class="media-body">
                <b><output class="texto" id="titulo1"></output></b>
                <p></p>
                    <output class="texto" id="post1" row="3"></output>
                <p></p>
                <p><a href="detalle" class="btn" type="submit" onclick="guardar('1','detalle')">Leer más</a></p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i></span></li>
                    <li><output class="texto" id="date1"></output></li>
                    <li>|</li>
                    <li class="text-right">By </li>
                    <li><output id="usuario1"></output></li>
                </ul>
            </div>
         </div>
       </div>
    </div>

    <!-------------------------------------------------------------------------------------------------------------->
    <!-- Detalle del segundo post------------------------------------------------------------------------------------>

    <div class="container" id="contpost2" style="display:none">
      <div class="well">
          <div class="span12">
            <output class="blog-location blog-location-right" id="location2"></output>
         </div>

         <div class="media">
           <a class="pull-left">
              <img id="imagen2" class="media-object" width="150" height="150" src="/images/fotodetalle.jpg">
           </a>

           <div class="media-body">
               <b><output class="texto" id="titulo2"></output></b>
               <p></p>
                   <output class="texto" id="post2" row="3"></output>
               <p></p>
               <p><a href="detalle" class="btn" type="submit" onclick="guardar('2','detalle')">Leer más</a></p>
               <ul class="list-inline list-unstyled">
                   <li><span><i class="glyphicon glyphicon-calendar"></i></span></li>
                   <li><output class="texto" id="date2"></output></li>
                   <li>|</li>
                   <li class="text-right">By </li>
                   <li><output id="usuario2"></output></li>
               </ul>
           </div>
        </div>
      </div>
   </div>
        <!-------------------------------------------------------------------------------------------------------------->
        <!-- Detalle del tercer post------------------Get------------------------------------------------------------------>

         <div class="container" id="contpost3"  style="display:none">
           <div class="well">
               <div class="span12">
                 <output class="blog-location blog-location-right" id="location3"></output>
              </div>

              <div class="media">

               	<a class="pull-left">
                   <img id="imagen3" class="media-object" width="150" height="150" src="/images/fotodetalle.jpg">
                </a>

           		  <div claess="media-body">
                    <b><output class="texto" id="titulo3"></output></b>
                    <p></p>
                        <output class="texto" id="post3" row="3"></output>
                    <p></p>
                    <p><a href="detalle" class="btn" type="submit" onclick="guardar('3','detalle')">Leer más</a></p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i></span></li>
                        <li><output class="texto" id="date3"></output></li>
                        <li>|</li>Get
                        <li class="text-right">By </li>
                        <li><output id="usuario3"></output></li>
                    </ul>
                </div>
             </div>
           </div>
        </div>

      <!-------------------------------------------------------------------------------------------------------------->
      <!-- Paginacion----------------------------------------------------------------->
      <!--- Paginación -->

      <div class="container" name="changepag" >
        <div class="clearfix" ></div>
          <ul class="pagination pull-right">
          <li><span href="ultpost" id="prePage" onclick="previousPage()"><span id="left" class="glyphicon glyphicon-chevron-left"></span></span></li>
          <li></li>
          <li><span href="ultpost" id="newPage" onclick="nextPage()"><span id="right" class="glyphicon glyphicon-chevron-right"></span></span></li>
          </ul>
        </div>
      </div>

  </template>

<script>
    Polymer({
      is: 'my-ultpost',
      properties: {
        posts: Array

      },

      listeners: {
      },

      ready: function(){

        this.name = " " + sessionStorage.getItem("sessionName");

        var respuesta = obtenerUltPostList();

//---- Primer posts
        if (respuesta.length >= 1  ) {
        var location = respuesta[0].location.city + ' (' + respuesta[0].location.country + ')';
        var reducirPost = respuesta[0].post.substring(0,350);

        this.$.location1.value = location;
        this.$.titulo1.value = respuesta[0].titulo;
        this.$.post1.value = reducirPost + "  ...";
        this.$.date1.value = respuesta[0].date;
        this.$.usuario1.value = respuesta[0].user;
        sessionStorage.setItem("sessionPost1",respuesta[0]._id.$oid);
        this.$.contpost1.style.display = "block";
              }
      else{
        this.$.contpost1.style.display = "none";
      }

//---- Segundo posts
        if (respuesta.length >= 2  ) {

          location = respuesta[1].location.city + ' (' + respuesta[1].location.country + ')';
          reducirPost = respuesta[1].post.substring(0,350);


          this.$.location2.value = location;
          this.$.titulo2.value = respuesta[1].titulo;
          this.$.post2.value = reducirPost + "  ...";
          this.$.date2.value = respuesta[1].date;
          this.$.usuario2.value = respuesta[1].user;
          sessionStorage.setItem("sessionPost2",respuesta[1]._id.$oid);
          this.$.contpost2.style.display = "block";
        }
        else{
          this.$.contpost2.style.display = "none";
        }

//---- Tercero posts
        if (respuesta.length >= 3  ) {
          location = respuesta[2].location.city + ' (' + respuesta[2].location.country + ')';
          reducirPost = respuesta[2].post.substring(0,350);

          this.$.location3.value = location;
          this.$.titulo3.value = respuesta[2].titulo;
          this.$.post3.value = reducirPost + "  ...";
          this.$.date3.value = respuesta[2].date;
          this.$.usuario3.value = respuesta[2].user;
          sessionStorage.setItem("sessionPost3",respuesta[2]._id.$oid);
          this.$.contpost3.style.display = "block";
        }
        else{
          this.$.contpost3.style.display = "none";
        }

  //      this.$.changepag.style.display = "block";

  //-----Control de paginas

          var actPage= sessionStorage.getItem("sessionPagActual");

          if (actPage >1) {
              this.$.prePage.style.display = "block";
          } else {
            this.$.prePage.style.display = "none";
          }

        }
    })

  </script>
</dom-module>
